@model IEnumerable<PTProject.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            title
        </th>
        <th>
            type
        </th>
        <th>
            unit_id
        </th>
        <th>
            in_progress
        </th>
        <th>
            approved
        </th>
        <th>
            usersId
        </th>
        <th>
            can_be_searched
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.in_progress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usersId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.can_be_searched)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
