@{
    ViewBag.Title = "Tutorials";
}

<h2>Tutorials</h2>
@Html.ActionLink("Insructions on Admin Area", "AdministrativePageInstruct")
<br />
@Html.ActionLink("Insructions on Home Page", "HomePageTutorial")
<br />
@Html.ActionLink("Insructions on Log On ", "LogOnInstructions")
<br />
@Html.ActionLink("Insructions on User Home Page", "UserHomePageInstruct")
<br />
@Html.ActionLink("Insructions on Registration", "RegisterInstructions")
<br />
@Html.ActionLink("User Manual", "UserManual")
