@model PTProject.Models.CaseStudy

@{
    ViewBag.Title = "ViewPage1";
}

<h2>ViewPage1</h2>

<fieldset>
    <legend>CaseStudy</legend>

    <div class="display-label">search_term</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.search_term)
    </div>

    <div class="display-label">title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">content</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>

    <div class="display-label">keywords</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.keywords)
    </div>

    <div class="display-label">link</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
